@page "/"

<PageTitle>jSilvestri.com 2024 Blazor Server Asp.NET Core Web API Demo Project </PageTitle>

<h1>Hello, world!</h1>

Welcome to the jSilvestri.com 2024 Blazor Server Asp.NET Core Web API Demo Project!

<SurveyPrompt Title="How is the jSilvestri.com 2024 Blazor Server Asp.NET Core Web API Demo Project?" />
